.mdl-demo main > .mdl-layout__tab-panel {
  padding-bottom: 48px;
}

.section__play-btn img {
  width: 180px;
  box-shadow: rgba(0,0,0,0.4) -1px 2px 6px 0px;
}

.lyrics-lines > div {
  transition: 0.4s all ease;
}
